#map { height: 300px; 

    /* margin-top: 1rem; */
}

#osdiv {
    display: none;
}

#browserdiv {
    display: none;
}


#overviewbox {
    display: none;
}

.card {
    margin-bottom: 1rem;
}


body {
    background-color: lightgrey;
}